extends layout

block content
  .row
    .col
      h1 Search reporting
  .row
    .col
      h3 Search box
      textarea#tracking.form-control(name="tracking", cols="30", rows="10")
      button.btn.btn-primary(onclick="Search()") Search
  .row
    .col
      h3 Report
      #report_output
      pre#data_output

  script(src="https://d3js.org/d3.v5.min.js")
  script(src="/javascripts/sreport.js")
