extends layout

block content
  .row
    .col
      h1 Search reporting
  .row
    .col-6
      h3 Tracking search
      textarea#tracking.form-control(name="tracking", cols="30", rows="10")
      button#search_button.btn.btn-primary(onclick="Search()") Search
    .col-6
      h3 Category search
      label(for="date") Date
      input#date.form-control(type="date", name="date")
      input#day(type="radio", name="daterange", checked)
      label.form-check-label(for="day") This day
      | 
      input#week(type="radio", name="daterange")
      label.form-check-label(for="week") This week
      | 
      input#month(type="radio", name="daterange")
      label.form-check-label(for="month") This month
      | 
      input#year(type="radio", name="daterange")
      label.form-check-label(for="year") This year
      br
      div *This is refering to the day/week/month/year that contains the date.
      br
      label(for="ccode") Country code
      input#ccode.form-control(type="text", name="ccode", disabled)
      button#csearch_button.btn.btn-primary(onclick="CatSearch()") Search
  .row
    .col
      h3 Report
      #report_output
      pre#data_output.hidden

  script(src="https://d3js.org/d3.v5.min.js")
  script(src="/javascripts/sreport.js")
