extends layout

block content
  .row
    .col
      h1 Stuck list
  .row
    .col
      h3 一週間以上動いていない荷物
      table.table.table-dark.table-striped.mt-2
        thead
          tr
            th(scope="col") 追跡番号
            th(scope="col") 状況
            th(scope="col") 最新更新
        tbody
          each row in display_list
            tr
              td= row.tracking
              td= row.status
              td= (new Date(row.timestamp)).toDateString()
