body {
  color: white;
  background-color: black;
}

a {
  color: #00bbff;
}

.warning-text {
  color: orange;
  font-weight: bold;
}

.danger-text {
  color: red;
  font-size: large;
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.hidden {
  display: none;
}

pre {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.download {
  background-color: rgba(241, 245, 0, 0.603);
  color: black;
  font-weight: 150%;
  border-radius: 25%;
  border: 3px double black;
  padding: 3px;
}

/***************************************/
.type0 {
  background-color: rgb(173, 173, 173);
}
.unavailable {
  color: rgb(173, 173, 173);
  background-color: rgba(173, 173, 173, 0.2);
  border: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
  padding: 2px;
}

.type1 {
  background-color: rgb(73, 173, 73);
}
.available {
  color: rgb(73, 173, 73);
  background-color: rgba(73, 173, 73, 0.2);
  border: 1px solid rgb(73, 173, 73);
  border-radius: 5px;
  padding: 2px;
}

.type2 {
  background-color: rgb(173, 73, 73);
}
.suspended {
  color: rgb(173, 73, 73);
  background-color: rgba(173, 73, 73, 0.2);
  border: 1px solid rgb(173, 73, 73);
  border-radius: 5px;
  padding: 2px;
}
.delays {
  color: rgb(173, 173, 73);
  background-color: rgba(173, 173, 73, 0.2);
  border: 1px solid rgb(173, 173, 73);
  border-radius: 5px;
  padding: 2px;
}

.type3 {
  background-color: rgb(73, 73, 173);
}
.blocked {
  color: rgb(145, 145, 236);
  background-color: rgba(73, 73, 173, 0.2);
  border: 1px solid rgb(73, 73, 173);
  border-radius: 5px;
  padding: 2px;
}
.unknown {
  color: rgb(173, 73, 173);
  background-color: rgba(173, 73, 173, 0.2);
  border: 1px solid rgb(173, 73, 173);
  border-radius: 5px;
  padding: 2px;
}

.fast {
  color: green;
}
.slow {
  color: red;
}
