body {
  color: white;
  background-color: black;
}

a {
  color: #00bbff;
}

.warning-text {
  color: orange;
  font-weight: bold;
}

.danger-text {
  color: red;
  font-size: large;
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.hidden {
  display: none;
}

pre {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
